.notFound{width: 100%; height: auto; padding-bottom: 10rem;}
.notFound .box{width: 28%;height: auto; padding: 20px 10px; text-align: center; margin: auto;}
.notFound .box p{color: #000; font-size: 16px; margin-top: 10px;}
